body{
    font-family: "Montserrat", sans-serif;
}

header{
    background: #309bb6;
}

.header-box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

#logo-header{
    margin: 10px auto;
    width: 20%;
    border: 4px solid black;
    border-radius: 5px;
}

nav{
    position: absolute;
    right: 0;
    top: 125px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
    padding: 8px 20px 5px 5px;
    border-right: 4px solid black;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;  
}

nav a:hover{
    color: #0e1dec;
    text-decoration: underline;
}

main{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.title{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.contenedor{
    display: flex;
    justify-content: space-between;
}

.cuadro{
    width: 45%; /* Ajusta este valor según tus necesidades */
    border: 1px solid black; /* Añade un borde para visualizar los cuadros */
    padding: 10px;
}

.cuadro ul li ul li{
    margin: 10px 0; /* Ajusta estos valores según el espacio que desees */
}

.cuadro img{
    width: 200px; /* Ajusta este valor según el tamaño que desees */
    height: 200px; /* Ajusta este valor según el tamaño que desees */
}

.highlight-yellow{
    background-color: yellow;
}

.highlight-blue{
    background-color: lightblue;
}


.text-area {
    width: 45%;
}

.text-box{
    width: 100%;
    padding-bottom: 150px;
    margin: 40px;
    resize:none;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.submit{
    width: 20%;
    margin: 0 40%;
    padding: 10px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 4px;
    background-color: rgb(204, 245, 245);
}

.submit:hover{
    background-color: rgb(89, 179, 197);
    transform: scale(1.2);
}

@media (max-width: 480px) {
    h1{
        text-align: center;
    }
    nav{
        position:static;
    }
    nav li{
        margin: 10%;
    }
    .header-box{
        padding-bottom: 5%;
    }
    .header-box, main{
        width: auto;
    }
    #logo-header{
        width: 97%;
    }
    .submit{
        width: auto;       
    }
}
